# Ambiente virtual
venv/
env/
.env

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Distribuição / empacotamento
dist/
build/
*.egg-info/

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs e bancos de dados locais
*.log
*.sqlite
*.db

# Arquivos temporários
tmp/
temp/ 